:root {
    --color-bg: #000;
    --color-fg: #fff;
    --color-comment: #fff;
    --color-identifier: #fff;
    --color-constant: #fff;
    --color-type: #fff;
    --color-statement: #fff;
    --color-preproc: #fff;
    --color-special: #fff;
    --color-linenr-bg: #000;
    --color-linenr-fg: #fff;
}

body {
    background-color: #eee;
    font-family: sans-serif;
}

#wrapper {
    max-width: 40rem;
    margin: 0 auto;
}

#wrapper > div {
    text-align: center;
    padding: 2rem 0;
}

.form-block:not(:first-child) {
    padding-top: 1rem;
}

#palette .block {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

#bg-block {
    background-color: var(--color-bg);
    color: var(--color-bg);
}

#fg-block {
    background-color: var(--color-fg);
    color: var(--color-fg);
}

#comment-block {
    background-color: var(--color-comment);
    color: var(--color-comment);
}

#identifier-block {
    background-color: var(--color-identifier);
    color: var(--color-identifier);
}

#constant-block {
    background-color: var(--color-constant);
    color: var(--color-constant);
}

#type-block {
    background-color: var(--color-type);
    color: var(--color-type);
}

#statement-block {
    background-color: var(--color-statement);
    color: var(--color-statement);
}

#preproc-block {
    background-color: var(--color-preproc);
    color: var(--color-preproc);
}

#special-block {
    background-color: var(--color-special);
    color: var(--color-special);
}

#linenr-bg-block {
    background-color: var(--color-linenr-bg);
    color: var(--color-linenr-bg);
}

#linenr-fg-block {
    background-color: var(--color-linenr-fg);
    color: var(--color-linenr-fg);
}

#rando {
    margin: 0 auto;
    display: block;
}

#code {
    font-family: monospace;
    padding: 1rem;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

/* TODO markers are rendered in reverse-video (for now) */
#code .todo {
    background-color: var(--color-comment);
    color: var(--color-bg);
}

#code .comment {
    color: var(--color-comment);
}

#code .identifier {
    color: var(--color-identifier);
}

#code .constant {
    color: var(--color-constant);
}

#code .type {
    color: var(--color-type);
}

#code .statement {
    color: var(--color-statement);
}

#code .preproc {
    color: var(--color-preproc);
}

#code .special {
    color: var(--color-special);
}

#code .linenr {
    background-color: var(--color-linenr-bg);
    color: var(--color-linenr-fg);
}
