:root {
    --color-bg: #000;
    --color-fg: #fff;
    --color-comment: #fff;
    --color-identifier: #fff;
    --color-constant: #fff;
    --color-type: #fff;
    --color-statement: #fff;
    --color-preproc: #fff;
    --color-special: #fff;
    --color-linenr-bg: #000;
    --color-linenr-fg: #fff;
    --color-cursorline: #111;
    --color-cursorcolumn: #111;
    --color-cursor: #fff;
    --color-visual: #222;
    --color-incsearch: #222;
    --color-search: #222;
    --color-matchparen: #222;
    --color-spellbad: #fff;
    --color-spellcap: #fff;
}

body {
    background-color: #eee;
    font-family: sans-serif;
}

abbr {
    font-variant: none;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

input.nav-radio {
    display: none;
}

.tab {
    cursor: pointer;
    display: inline-block;
    background-color: var(--color-fg);
    color: var(--color-bg);
    padding: 10px 20px;
    margin: 0px 2px;
}

#nav-rust:checked ~ #tabs #label-rust,
#nav-js:checked ~ #tabs #label-js,
#nav-ui:checked ~ #tabs #label-ui {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-style: italic;
}

#blocks pre {
    display: none;
}

#nav-rust:checked ~ #blocks #block-rust,
#nav-js:checked ~ #blocks #block-js,
#nav-ui:checked ~ #blocks #block-ui {
    display: block;
}

#wrapper {
    width: max-content;
    margin: 0 auto;
}

#wrapper > *:not(#settings),
.top-col > *:not(:first-child):not(#blocks),
#form > *:not(:first-child) {
    margin-top: 2rem;
}

#colors {
    display: flex;
    align-items: flex-end;
    column-gap: 1rem;
}

#settings {
    columns: 2;
    margin-top: 1rem;
}

.form-block {
    break-inside: avoid;
    padding-top: 1rem;
}

.palette .block {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

#bg-block {
    background-color: var(--color-bg);
    color: var(--color-bg);
}

#fg-block {
    background-color: var(--color-fg);
    color: var(--color-fg);
}

#comment-block {
    background-color: var(--color-comment);
    color: var(--color-comment);
}

#identifier-block {
    background-color: var(--color-identifier);
    color: var(--color-identifier);
}

#constant-block {
    background-color: var(--color-constant);
    color: var(--color-constant);
}

#type-block {
    background-color: var(--color-type);
    color: var(--color-type);
}

#statement-block {
    background-color: var(--color-statement);
    color: var(--color-statement);
}

#preproc-block {
    background-color: var(--color-preproc);
    color: var(--color-preproc);
}

#special-block {
    background-color: var(--color-special);
    color: var(--color-special);
}

#linenr-bg-block {
    background-color: var(--color-linenr-bg);
    color: var(--color-linenr-bg);
}

#linenr-fg-block {
    background-color: var(--color-linenr-fg);
    color: var(--color-linenr-fg);
}

#cursor-block {
    background-color: var(--color-cursor);
    color: var(--color-cursor);
}

#cursorline-block {
    background-color: var(--color-cursorline);
    color: var(--color-cursorline);
}

#cursorcolumn-block {
    background-color: var(--color-cursorcolumn);
    color: var(--color-cursorcolumn);
}

#visual-block {
    background-color: var(--color-visual);
    color: var(--color-visual);
}

#incsearch-block {
    background-color: var(--color-incsearch);
    color: var(--color-incsearch);
}

#search-block {
    background-color: var(--color-search);
    color: var(--color-search);
}

#matchparen-block {
    background-color: var(--color-matchparen);
    color: var(--color-matchparen);
}

#spellbad-block {
    background-color: var(--color-spellbad);
    color: var(--color-spellbad);
}

#spellcap-block {
    background-color: var(--color-spellcap);
    color: var(--color-spellcap);
}

#rando {
    margin: 2em auto 0;
    display: block;
}

#blocks {
    padding: 1em;
    background-color: var(--color-bg);
}

#blocks pre {
    font-family: monospace;
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    overflow: hidden;
    min-width: 85ch;
}

/* TODO markers are rendered in reverse-video (for now) */
#blocks pre .todo {
    background-color: var(--color-comment);
    color: var(--color-bg);
}

#blocks pre .comment {
    color: var(--color-comment);
}

#blocks pre .identifier {
    color: var(--color-identifier);
}

#blocks pre .constant {
    color: var(--color-constant);
}

#blocks pre .type {
    color: var(--color-type);
}

#blocks pre .statement {
    color: var(--color-statement);
}

#blocks pre .preproc {
    color: var(--color-preproc);
}

#blocks pre .special {
    color: var(--color-special);
}

#blocks pre .linenr {
    background-color: var(--color-linenr-bg);
    color: var(--color-linenr-fg);
}

#blocks pre .cursorline {
    background-color: var(--color-cursorline);
    width: 100%;
    display: inline-block;
}

#blocks pre .cursorcolumn {
    background-color: var(--color-cursorcolumn);
}

#blocks pre .cursor {
    background-color: var(--color-cursor);
    color: var(--color-bg);
}

#blocks pre .visual {
    background-color: var(--color-visual);
}

#blocks pre .incsearch {
    background-color: var(--color-incsearch);
}

#blocks pre .search {
    background-color: var(--color-search);
}

#blocks pre .matchparen {
    background-color: var(--color-matchparen);
}

#blocks pre .spellbad {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--color-spellbad);
    color: var(--color-spellbad);
}

#blocks pre .spellcap {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--color-spellcap);
    color: var(--color-spellcap);
}
